<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get data page</title>
</head>
<body>
    <h1>this is get page on which we are going to get the data coming from signup form.</h1>
    <h2 style="text-decoration: underline; text-decoration-color: red; color: purple;">User data</h2>
    <h1>First Name: {{ data.first_name }}</h1>
    <h1>Last Name: {{ data.last_name }}</h1>
    <h1>Email: {{ data.email }}</h1>
    <h1>Password: {{ data.password }}</h1>
    <h1>Confirm Password: {{ data.confirm_password }}</h1>
</body>
</html>