<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              boxShadow: {
                '3xl': '1px 1px 3px #000000',
              }
            }
          }
        }
      </script>
    <title>layout</title>
</head>
<body class="text-base">
    <header>
        <div class="p-6  text-center bg-orange-600">Logo</div>
        <nav class="p-3  text-center bg-red-600">Navigation Bar</nav>
        <div class="p-12 text-center bg-blue-800/60">Banner</div>
    </header>
    <body1 class="grid grid-cols-4">
        <aside class="bg-pink-600 text-center h-[100vh]">Sidebar</aside>
        <main class="bg-blue-600 text-center h-[100vh] col-start-2 col-end-5">Body Area</main>
    </body1>
    <footer class="p-10 bg-orange-600 text-center">Footer</footer>
</body>
</html>