<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <title>home</title>
</head>

<body>
    <div class="main">
        <header class="header">
            <nav class="nav">
                <ul class="nav__ul">
                    <a href="/" class="nav__home">HOME</a>
                    <a href="/quiz_app" class="nav__quiz_app">QUIZ APP</a>
                    <a href="/todo_app" class="nav__todo_app">TODO APP</a>
                    <a href="/weather_app" class="nav__weather_app">WEATHER APP</a>
                    <a href="/signup" class="nav__signup">SIGNUP</a>
                </ul>
            </nav>
        </header>
        <main class="main__body">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
        <div class="alert alert-{{category}}" style="z-index: 100;">{{message}}</div>
        {% endfor %}
        {% endwith %}
            <h1 class="main__h1">WE DESIGN YOUR WEBSITE</h1>
            <p class="main__p">"In a world of ordinary, some designs speak volumes with attitude."</p>
            <a href="/usersdata" class="main__a">SEE OUR USERS</a>
        </main>


    </div>
    <script src="{{url_for('static',filename='js/bootstrap.mini.js')}}"></script>
</body>

</html>