<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{url_for('static',filename='weather.css')}}">
</head>
<body>
    <div id="main">
        <h1>Weather Application</h1>
        <form id="form">
            <input type="text" placeholder="Enter City Name" id="input" autofocus>
        </form>
        <div id="dashboard">
            <p id="date"></p>
            <p id="location"></p>
            <p id="temp"></p>
            <p id="feels_like"></p>
            <p id="humidity"></p>
            <p id="pressure"></p>
        </div>
    </div>

    <script src="{{url_for('static',filename='js/weather.js')}}"></script>
</body>
</html>
