<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            h2 {
                display:inline;
            }

        </style>
    </head>
    <body>
        <h1> Products </h1>
        {% for product in products %}
           <h3>Name: {{ product.name }}</h3>
           <h3>Details:</h3>

            {% for details in product.details %}
                <h2>Qty:</h2> <span> {{ details.qty }} </span> <br>
                <h2>size:</h2> <span> {{ details.size }}</span> <br>
                <h2>Price:</h2> <span> Rs. {{ details.price }}</span> <br>
                
                {% comment %} {{ details }} <br> {% endcomment %}

            {% endfor %}
            <hr>
        
        {% comment %} {{ product }} {% endcomment %}



        {% endfor %}



        {% comment %} <ul>
            {% for course1 in courses1 %}
                <li>{{ course1 }} </li>
            {% endfor %}
        </ul> {% endcomment %}

        {% comment %} <hr>

        <h1>courses 2</h1>
        <ul>
            {% for course2 in courses2 %}
                <li>{{ course2 }} </li>
            {% endfor %}
        </ul> {% endcomment %}



 {% comment %} <h1>courses</h1>
        <ul>
            {% for course in courses %}
                <li>{{ course }} </li>
            {% endfor %}
        </ul>
        {% endcomment %}


       




        {% comment %} <h3>Courses : {{ courses[0] }} </h3> {% endcomment %}

        <script src="" async defer></script>
    </body>
</html>