<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/quiz.css')}}">
    <title>Quiz Game</title>
</head>
<body>
    <span style="align-self: flex-start; justify-self: flex-start"></span>
    <div>
        <h2><pre>   Made in Azad Chaiwala Institute.   </pre></h2>
        <h1>Start Quiz</h1>
        <button type="button" id="btn">Start</button>
    </div>

    <script src="{{url_for('static',filename='js/quiz.js')}}"></script>
</body>
</html>